@()(implicit request: play.api.mvc.RequestHeader)
@main("搜索") {

    <script src="@routes.Assets.at("dist2/bootstrap-advanced-sortable/js/bootstrap-advanced-sortable.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("dist2/bootstrap-advanced-sortable/css/bootstrap-advanced-sortable.css")">

    <style>

            .radio, .checkbox {
                position: relative;
                display: block;
                margin-top: 5px;
                margin-bottom: 10px;
            }

            .form-group {
                margin-top: 20px;
            }

    </style>

    <div class="row">
        <div class="form-group col-sm-12">
            <h2 class="page-heading"
            style="text-align: left;
                border-bottom: 5px solid #e9f3f4">搜索</h2>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-3">
            <div class="bs-docs-sidebar" role="complementary">
                <ul class="nav bs-docs-sidenav">
                    <li class=""><a href="@userC.routes.DataController.searchBefore()">Tumor_Sample_Barcode搜索</a></li>
                    <li class="active"><a href="@userC.routes.DataController.searchSampleBefore()">RefGene_Name搜索</a></li>
                    <li class=""><a href="@userC.routes.DataController.searchPatientBefore()">Patient搜索</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-8 tab-content myform" >

          @*  <div class="tab-pane active" id="barcode">

                <form class="form-horizontal" method="get" id="keywordForm">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Tumor_Sample_Barcode:</label>
                        <div class="col-sm-4">
                            *@@* <select name="barcode" id="sampleids" style="" class="checkbox form-control refGene">
                            </select>*@@*
                            <input type="text" name="barcode" id="sampleids" class="checkbox form-control refGene"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="actions col-sm-offset-3 col-sm-3">
                            <button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="searchBarcode()">
                                搜索</button>
                        </div>
                    </div>
                </form>

            </div>*@

            <div class="tab-pane active" id="GeneName">

                <form class="form-horizontal" method="get" id="keywordForm">
                    <div class="form-group">
                        <label class="control-label col-sm-3">RefGene_Name:</label>
                        <div class="col-sm-4">
                            <input type="text" name="sampleName" id="refgene_name" style="width: 100%" class="checkbox form-control refGene"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="actions col-sm-offset-3 col-sm-3">
                            <button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="SearchByGene()">
                                搜索</button>
                        </div>
                    </div>
                </form>

            </div>

         @*   <div class="tab-pane " id="refGene">

                <form class="form-horizontal" method="get" id="keywordForm">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Gene.refGene:</label>
                        <div class="col-sm-4">
                            *@@* <select name="refGene" id="GeneName" style="width: 100%"
                            class="checkbox form-control refGene">
                            </select>*@@*
                            <input type="text" name="refGene" id="GeneName" style="width: 100%" class="checkbox form-control refGene"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="actions col-sm-offset-3 col-sm-3">
                            <button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="SearchByGene()">
                                搜索</button>
                        </div>
                    </div>
                </form>

            </div>*@

        </div>

    </div>

    <div class="row" id="hideTable" style="display: none">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body"></div>
                <table id="table" class="table table-bordered" data-advanced-sortable="true" data-pagination="true" style="width: 1200px"></table>
            </div>
        </div>
    </div>

    <script>

        var columnshead = []

        var initcolumns = []

            $(function () {

                $.ajax({
                    url: "@userC.routes.DataController.searchColumnsOfMutationTable()",
                    type: "get",
                    async: false,
                    success(res) {
                        columnshead = res.head
                        $.each(columnshead, function (i, v) {
                            var json = {
                                field: v.toLowerCase(),
                                title: v.toUpperCase(),
                                sortable: true,
                                searchType: "text"
                            }
                            initcolumns.push(json)
                        });
                    }
                })

                //突变信息表的初始化
                $("#table").bootstrapTable({
                    method: 'post',
                    url: "@userC.routes.DataController.getMutationTable()",
                    sidePagination: "server",
                    pageNumber: 1,
                    pageList: [15],
                    pageSize: 20,
                    contentType: "application/x-www-form-urlencoded",
                    columns: initcolumns
                })
            })

            /*
            "/pathology/user/data/searchByBarcode",
            * */
           /* function searchBarcode() {
                $("#tumor_sample_barcode-sort-button").click()
                let d = $('#sampleids').val();
                $("th").find("tumor_sample_barcode")
                let $tumor =  $("#tumor_sample_barcode-search")
                $tumor.val(d);
                $tumor.parent().find(".btn-sort-primary").click()
                $("#hideTable").show()
            }
*/

            function SearchByGene() {
                $("#hugo_symbol-sort-button").click()
                let d = $("#refgene_name").val()
                $("th").find("hugo_symbol")
                let $hugo = $("#hugo_symbol-search")
                $hugo.val(d)
                $hugo.parent().find(".btn-sort-primary").click()
                $("#hideTable").show()
            }

          /*  function searchSampleByPatient() {
                let d = $('#patient_id').val()
                $.ajax({
                    url: "/pathology/user/data/searchByPatient",
                    type: "post",
                    contentType: "text/plain; charset=utf-8",
                    success: function (res) {

                    }
                })
            }
*/

    </script>


}
