@()(implicit request: play.api.mvc.RequestHeader)
    @main("mutation_table") {
        @*为琪哥的sortable *@
        <script src="@routes.Assets.at("dist/bootstrap-advanced-sortable/js/bootstrap-advanced-sortable.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("dist/bootstrap-advanced-sortable/css/bootstrap-advanced-sortable.css")">
        <script src="@routes.Assets.at("highchart8.2.0/highcharts.js")"></script>

        <style>
                .form-check-label {
                    cursor: pointer;
                }

                .bootstrap-table .fixed-table-container .table td {
                    white-space: nowrap;
                }

                .modal-content {
                    right: 200px;
                }

                .form-check-label {
                    min-height: 29px;
                    margin-left: 1.75rem;
                    font-size: 1.5rem;
                    line-height: 1.5;
                }

                input.form-check-input {
                    margin-right: 15px;
                }


        </style>


        <div class="container">
            <div class="row">
                <div class="form-group col-sm-12">
                    <h2 class="page-heading"
                    style="text-align: left;
                        border-bottom: 5px solid #e9f3f4">数据一览</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" style="margin-bottom: 20px">
                                点击筛选
                            </button>
                        </div>
                        <table id="table" class="table table-bordered" data-advanced-sortable="true" data-pagination="true" style="width: 1200px"></table>
                    </div>
                </div>
            </div>

            <div id="containerX" style="width: 600px;
                height: 400px"></div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="staticBackdrop">
            <div class="modal-dialog modal-xl  modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content" style="width: 1000px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">筛选</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="height: 560px">
                        <div class="col-sm-12 row" id="filter">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>


        <script>

                let count = 0;
                let allTotal = 0;
                $(function () {
                    $("#table").bootstrapTable({
                        method: 'post',
                        url: "@userC.routes.DataController.getMutationTable()",
                        sidePagination: "server",
                        pageNumber: 1,
                        pagination: true,
                        pageList: [15],
                        pageSize: 20,
                        contentType: "application/x-www-form-urlencoded",
                        advancedSortable: true,
                        onLoadSuccess: function (data) {
                            /*   if(count ===0){
                                   count ++;
                                   allTotal=data.total;
                               }
                             drawing(data.total);*/
                        },
                        columns: [{
                            field: "id",
                            title: "id",
                            sortable: true,
                            searchType: "text"
                        },
                            {
                                field: "sample_id",
                                title: "sample_id",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "hugo_symbol",
                                title: "Hugo_Symbol",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "entrez_gene_id",
                                title: "Entrez_Gene_Id",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "center",
                                title: "Center",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "ncbi_build",
                                title: "NCBI_Build",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "chromosome",
                                title: "Chromosome",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "start_position",
                                title: "Start_Position",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "end_position",
                                title: "End_Position",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "strand",
                                title: "Strand",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "consequence",
                                title: "Consequence",
                                sortable: true,
                                searchType: "text"
                            }, {
                                field: "variant_classification",
                                title: "Variant_Classification",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "variant_type",
                                title: "Variant_Type",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "reference_allele",
                                title: "Reference_Allele",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "tumor_seq_allele1",
                                title: "Tumor_Seq_Allele1",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "tumor_seq_allele2",
                                title: "Tumor_Seq_Allele2",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "dbsnp_rs",
                                title: "dbSNP_RS",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "dbsnp_val_status",
                                title: "dbSNP_Val_Status",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "tumor_sample_barcode",
                                title: "Tumor_Sample_Barcode",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "matched_norm_sample_barcode",
                                title: "Matched_Norm_Sample_Barcode",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "match_norm_seq_allele1",
                                title: "Match_Norm_Seq_Allele1",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "match_norm_seq_allele2",
                                title: "Match_Norm_Seq_Allele2",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "tumor_validation_allele1",
                                title: "Tumor_Validation_Allele1",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "tumor_validation_allele2",
                                title: "Tumor_Validation_Allele2",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "match_norm_validation_allele1",
                                title: "Match_Norm_Validation_Allele1",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "match_norm_validation_allele2",
                                title: "Match_Norm_Validation_Allele2",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "verification_status",
                                title: "Verification_Status",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "validation_status",
                                title: "Validation_Status",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "mutation_status",
                                title: "Mutation_Status",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "sequencing_phase",
                                title: "Sequencing_Phase",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "sequence_source",
                                title: "Sequence_Source",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "validation_method",
                                title: "Validation_Method",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "score",
                                title: "Score",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "bam_file",
                                title: "BAM_File",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "sequencer",
                                title: "Sequencer",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "t_ref_count",
                                title: "t_ref_count",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "t_alt_count",
                                title: "t_alt_count",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "n_ref_count",
                                title: "n_ref_count",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "n_alt_count",
                                title: "n_alt_count",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "hgvsc",
                                title: "HGVSc",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "hgvsp",
                                title: "HGVSp",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "hgvsp_short",
                                title: "HGVSp_Short",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "transcript_ID",
                                title: "Transcript_ID",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "refseq",
                                title: "RefSeq",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "protein_position",
                                title: "Protein_position",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "codons",
                                title: "Codons",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "hotspot",
                                title: "Hotspot",
                                sortable: true,
                                searchType: "text"
                            },
                            {
                                field: "t_alt_count_percentage",
                                title: "t_alt_count_percentage",
                                sortable: true,
                                searchType: "text"
                            },

                        ]
                    })

                    //控制展示的列 后面会改成A试剂盒，B试剂盒....
                    const fields = ["id", "sample_id", "Hugo_Symbol", "Entrez_Gene_Id", "Center",
                        "NCBI_Build", "Chromosome", "Start_Position", "End_Position", "Strand", "Consequence", "Variant_Classification", "Variant_Type", "Reference_Allele", "Tumor_Seq_Allele1", "Tumor_Seq_Allele2", "dbSNP_RS", "dbSNP_Val_Status", "Tumor_Sample_Barcode",
                        "Matched_Norm_Sample_Barcode", "Match_Norm_Seq_Allele1", "Match_Norm_Seq_Allele2", "Tumor_Validation_Allele1", "Tumor_Validation_Allele2", "Match_Norm_Validation_Allele1", "Match_Norm_Validation_Allele2", "Verification_Status",
                        "Validation_Status", "Mutation_Status", "Sequencing_Phase", "Sequence_Source", "Validation_Method", "Score", "BAM_File", "Sequencer", "t_ref_count", "t_alt_count", "n_ref_count", "n_alt_count", "HGVSc", "HGVSp", "HGVSp_Short", "Transcript_ID", "RefSeq",
                        "Protein_position", "Codons", "Hotspot", "t_alt_count_percentage"];

                    const titles = ["id", "sample_id", "Hugo_Symbol", "Entrez_Gene_Id", "Center",
                        "NCBI_Build", "Chromosome", "Start_Position", "End_Position", "Strand", "Consequence", "Variant_Classification", "Variant_Type", "Reference_Allele", "Tumor_Seq_Allele1", "Tumor_Seq_Allele2", "dbSNP_RS", "dbSNP_Val_Status", "Tumor_Sample_Barcode",
                        "Matched_Norm_Sample_Barcode", "Match_Norm_Seq_Allele1", "Match_Norm_Seq_Allele2", "Tumor_Validation_Allele1", "Tumor_Validation_Allele2", "Match_Norm_Validation_Allele1", "Match_Norm_Validation_Allele2", "Verification_Status",
                        "Validation_Status", "Mutation_Status", "Sequencing_Phase", "Sequence_Source", "Validation_Method", "Score", "BAM_File", "Sequencer", "t_ref_count", "t_alt_count", "n_ref_count", "n_alt_count", "HGVSc", "HGVSp", "HGVSp_Short", "Transcript_ID", "RefSeq",
                        "Protein_position", "Codons", "Hotspot", "t_alt_count_percentage"];

                    $.each(fields, (i, v) => {
                        $("#filter").append(`<div class="form-check form-check-success col-sm-4"><label class="form-check-label">
                               <input type='checkbox' checked='checked' value="${v}" class="form-check-input" onclick="setColumns('${v}')"
                               />${titles[i]}<i class="input-helper"></i></label></div>`)
                    })
                })

                function setColumns(value) {
                    let element = $("input:checkbox[value=" + value + "]");
                    if (element.is(":checked")) {
                        $('#table').bootstrapTable('showColumn', value);
                    } else {
                        $('#table').bootstrapTable('hideColumn', value);
                    }
                }

        </script>

        <script>

                var drawingData = {}
                var result = ""

                function drawing() {
                    $.ajax({
                        url: "/pathology/user/data/drawing",
                        type: "post",
                        data: drawingData,
                        success: function (res) {

                            let d = res
                            console.log(d)
                            Highcharts.chart('containerX', {
                                chart: {
                                    type: 'column'
                                },
                                title: {
                                    text: '2015年1月-5月，各浏览器的市场份额'
                                },
                                subtitle: {
                                    text: ''
                                },
                                xAxis: {
                                    type: 'category'
                                },
                                yAxis: {
                                    title: {
                                        text: '总的市场份额'
                                    }
                                },
                                legend: {
                                    enabled: false
                                },
                                plotOptions: {
                                    series: {
                                        borderWidth: 0,
                                        dataLabels: {
                                            enabled: true,
                                            format: '{point.y:.0f}'
                                        }
                                    }
                                },
                                tooltip: {
                                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b> of total<br/>'
                                },
                                series: [{
                                    name: '浏览器品牌',
                                    colorByPoint: true,
                                    data: res.linerData
                                }]
                            });
                        }
                    })


                }

        </script>

    }