@()(implicit request: play.api.mvc.RequestHeader)
@main("mutation_table") {
    <script src="@routes.Assets.at("dist2/bootstrap-advanced-sortable/js/bootstrap-advanced-sortable.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("dist2/bootstrap-advanced-sortable/css/bootstrap-advanced-sortable.css")">


    <style>
            .form-check-label {
                cursor: pointer;
            }

            .bootstrap-table .fixed-table-container .table td {
                white-space: nowrap;
            }

            .modal-content {
                right: 200px;
            }

            .form-check-label {
                min-height: 29px;
                margin-left: 1.75rem;
                font-size: 1.5rem;
                line-height: 1.5;
            }

            input.form-check-input {
                margin-right: 15px;
            }



    </style>


    <div class="container" style="margin-bottom: 55px">
        <ul class="nav nav-tabs" style="position: relative;
            top: 25px">
            <li role="presentation"><a href="@userC.routes.DataController.viewBefore()">浏览突变信息</a></li>
            <li role="presentation" class="active"><a href="@userC.routes.DataController.viewSampleBefore()">
                浏览样本信息</a></li>
            <li role="presentation"><a href="@userC.routes.DataController.viewPatientBefore()">浏览病人信息</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <div class="form-group col-sm-12" style="margin-top: -38px;">
                <h2 class="page-heading"
                style="text-align: left;
                    border-bottom: 5px solid #e9f3f4">数据一览</h2>
            </div>
        </div>

        <div id="container">
            <div class="row">
                <div class="col-md-12 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" style="margin-bottom: 20px">
                                请选择试剂盒
                            </button>
                        </div>
                        <table id="table" class="table table-bordered" data-advanced-sortable="true" data-pagination="true" style="width: 1200px"></table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="staticBackdrop">
        <div class="modal-dialog modal-xl  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="width: 1000px">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">筛选</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: relative;
                        top: -16px">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="height: auto">
                    <div class="col-sm-12 row" id="filter">
                        @*<div class="radio" id="radiofilter">
                        *@@*这里会填充试剂盒名称*@@*
                        </div>*@
                    </div>
                </div>
                @*分割线*@
                <hr style="margin-bottom: 39px">
                <div class="modal-body" style="height: 460px;
                    padding: 0px">
                    <div class="col-sm-12 row" id="showcolumns" style=" margin-top: -21px;
                        padding-left: 15px;
                        position: relative;
                        left: 15px;
                    ">
                        @*这里会填充试剂盒的内容*@
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="confirm1()">确认</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="staticBackdrop">
        <div class="modal-dialog modal-xl  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="width: 1000px">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">筛选</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: relative;
                        top: -16px">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="height: auto">
                    <div class="col-sm-12 row" id="filter">
                        @*<div class="radio" id="radiofilter">
                        *@@*这里会填充试剂盒名称*@@*
                        </div>*@
                    </div>
                </div>
                @*分割线*@
                <hr style="margin-bottom: 39px">
                <div class="modal-body" style="height: 460px;
                    padding: 0px">
                    <div class="col-sm-12 row" id="showcolumns" style=" margin-top: -21px;
                        padding-left: 15px;
                        position: relative;
                        left: 15px;
                    ">
                        @*这里会填充试剂盒的内容*@
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="confirm1()">确认</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>


    <script>


            var columnshead = []

            var initcolumns = []

            $(function () {

                $.ajax({
                    url: "@userC.routes.DataController.searchColumnsOfSampleTable()",
                    type: "get",
                    async: false,
                    success(res) {
                        columnshead = res.head
                        $.each(columnshead, function (i, v) {
                            var json = {
                                field: v.toLowerCase(),
                                title: v.toUpperCase(),
                                sortable: true,
                                searchType: "text"
                            }
                            initcolumns.push(json)
                        });
                    }
                })

                $("#table").bootstrapTable({
                    method: 'post',
                    url: "@userC.routes.DataController.getSampleTable()",
                    sidePagination: "server",
                    pageNumber: 1,
                    pagination: true,
                    pageList: [15],
                    pageSize: 20,
                    contentType: "application/x-www-form-urlencoded",
                    advancedSortable: true,
                    onLoadSuccess: function (data) {
                        /*   if(count ===0){
                               count ++;
                               allTotal=data.total;
                           }
                         drawing(data.total);*/
                    },
                    columns: initcolumns
                })

                var kits = []
                $.ajax({
                    url: "@userC.routes.DataController.searchSampleKit()",
                    type: "get",
                    success: function (res) {
                        kits = res
                        const fields = kits
                        const titles = kits
                        $.each(fields, (i, v) => {
                            if (i == 0) {
                                $("#filter").append(`
                                  <div class="radio-inline">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="${v}" onclick="showColumns('${v}')"> ${titles[i]}
                                </label>

                            </div>
`)
                                @* onclick="setColumns('${v}')"*@
                            } else {
                                $("#filter").append(`
                                  <div class="radio-inline">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="${v}" onclick="showColumns('${v}')" > ${titles[i]}
                                </label>
                            </div>
`)
                            }
                        })
                    }
                })
            })
    </script>


    <script>
            var columnsforshow = []

            function showColumns(value) {
                let v = value.toString()
                columnsforshow = []
                $("#showcolumns").empty()
                $.ajax({
                    url: "@userC.routes.DataController.searchSampleKitdata()",
                    type: "post",
                    data: v,
                    contentType: "text/plain; charset=utf-8",
                    success: function (res) {
                        /*  {"name":"x1xx",
                                "config":[
                                    {"param":"a","value":"hgvsc,score,center,codons,refseq,strand"},
                                    {"param":"b","value":"hgvsc,score,center,codons,refseq,strand"},
                                    {"param":"c","value":"hgvsc,score,center,codons,refseq,strand,hgvsc,score,center,codons,refseq,strand,hgvsc,score,center,codons,refseq,strand"}]
                               }
                        * */
                        let data = res.config
                        for (let i = data.length - 1; i >= 0; i--) {
                            var elem = res.config[i]
                            var kitparam = elem.param
                            var str = elem.value
                            var kitcolumns = str.split(",")
                            // 展示param   XXX:
                            /*  $("#showcolumns").append(`

                                          <div class="checkbox inline">
                                            <label>
                                          <input type="checkbox" data-name=${kitparam} name="optionsRadios2" id="optionsRadios2" value="${kitparam}" onclick="selectparams('${kitparam}')"> <b>${kitparam}</b>
                                           </label>
                                            </div>

                              `)*/
                            $("#showcolumns").append(`
                                 <button type="button" class="btn btn-primary btn-xs" style="position: relative;top: -2px" onclick="selectAll('${kitparam}')">全选</button>
                                 <button type="button" class="btn btn-primary btn-xs" style="position: relative;top: -2px" onclick="antiselectAll('${kitparam}')">全不选</button>
                                   <b style="font-size: 20px">${kitparam}:</b>
                            `)
                            $("#showcolumns").append(`&nbsp;&nbsp;`)
                            $.each(kitcolumns, (i, v) => {
                                $("#showcolumns").append(`
                                  <div class="checkbox inline" style="margin: 10px">
                                <label>
                                    <input type="checkbox" target-name=${kitparam}   value="${v}" onclick="addcolumn(this)" > ${kitcolumns[i]}
                                </label>
                                  </div>
                                `)
                            })
                            $("#showcolumns").append(`<hr style="width:auto">`)
                        }
                    }
                })
            }

            function selectAll(kitparam) {
                /* $("[target-name='" + kitparam + "']").each(function(){
                         if($(this).is(':checked')){
                             $(this).prop('checked',false)
                             columnsforshow.pop($(this).val())
                         }else{
                             $(this).prop('checked',true)
                             columnsforshow.push($(this).val())
                         }

                 })*/
                $("[target-name='" + kitparam + "']").each(function () {
                    $(this).prop('checked', true)
                    columnsforshow.push(($(this).val()))
                })

            }

            function antiselectAll(kitparam) {
                $("[target-name='" + kitparam + "']").each(function () {
                    $(this).prop('checked', false)
                    columnsforshow.pop(($(this).val()))
                })
            }

            //点击复选框后触发的函数
            function addcolumn(p) {
                if ($(p).is(':checked')) {
                    columnsforshow.push($(p).val())
                } else {
                    columnsforshow.pop($(p).val())
                }
                console.log(columnsforshow)
            }

            //  点击试剂盒内部的属性(param) 其属性中的列全部选中，否则全反选
            function selectparams(v) {
                // 一个带有value的按钮点击，判断这个value是否checked 是则true，否则false
                let element = $("[data-name='" + v + "']")
                if (element.is(":checked")) {
                    $("[target-name='" + v + "']").prop("checked", true)
                } else {
                    $("[target-name='" + v + "']").prop("checked", false)
                }
            }

            // 确定要查看的列之后提交
            function confirm1() {
                var columns = []
                $.each(columnsforshow, (i, v) => {
                    var obj = {
                        field: v.toLowerCase(),
                        title: v,
                        sortable: true,
                        searchType: "text"
                    }
                    columns.push(obj)
                })
                let newarr = arrDistinctByProp(columns, 'field')
                if (newarr.length > 0) {
                    $("#table").bootstrapTable(
                            "refreshOptions",
                            {
                                url: "@userC.routes.DataController.getSampleTable()",
                                columns: newarr
                            }
                    )
                } else {
                    $("#table").bootstrapTable(
                            "refreshOptions",
                            {
                                url: "@userC.routes.DataController.getSampleTable()",
                                columns: initcolumns
                            }
                    )
                }
            }

            function arrDistinctByProp(arr, prop) {
                let obj = {};
                return arr.reduce(function (preValue, item) {
                    obj[item[prop]] ? '' : obj[item[prop]] = true && preValue.push(item);
                    return preValue
                }, [])
            }
    </script>

}